//
// hirokoymj.com - Admin Page
// Mobile First Method.
// Created by HY.
// Updated: 2018-08-19
$admin-primary:#3B2F63;
$admin-secondary:#5F5AA0;
$admin-third: #F9F9FB;

#AdminPage{
  /* Hide for mobile, show later */
  .sidebar {
    display: none;
  }
  /* Sidebar */
  .nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;

    li > a{
      padding-right: 20px;
      padding-left: 20px;
      color: #000;
      &:hover{
        color: #fff;
        background-color: $admin-primary;
      }    
    }
    a.active{
      color: #fff;
      background-color: $admin-primary;
    }
  }
  .logout{
    background: $admin-primary;
    border: none;
    &:hover{
      color: #000;
      background: #dadaea
    }
  }
  .site-header{
    background: $admin-third;
    border: 1px solid #ddd;
  }
  .mobile-icon{
    &:hover .fa{
        color:$admin-secondary;
    }
  }
  nav{
    .menu{
      li > a{ // top level link only
        &:hover{
            background: $admin-secondary;
            color: #fff;
        }
      }
    }
  }// end of nav  

  .submitBtn, .deleteBtn{
    width: 100%;
    padding: 10px;
    color: #fff;
    background: $admin-secondary;
  }
  .deleteBtn, .editBtn{
    width: 100px;
    padding: 10px;
    color: #fff;
    background: $admin-secondary;
  }
  .editBtn{
    a{
      color: #fff;
    }
  }
  .function-row{
    width: 10%;
    text-align: center;
  }

  /* Main Contents */
 .main {
    h1{
      font-family: 'Open Sans', sans-serif;
      font-size: 28px;
      line-height: 32px;
      margin: 0;
      padding: 25px 0;    
    }
    .dataViewTbl{
      width: 100%;
      font-size: 16px;
      thead{
        display: none;
      }
      tr{
        border-bottom: 1px solid #ccc;
        padding: 15px 0;
      }
      td{
        border: none;
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px 0;
      }
      td.function-row{
        padding:  0 0 10px 0;       
      }
      .deleteBtn, .editBtn{
        width: 100%;
      } 
      .itemID, .itemName, .itemTitle, .itemURL{
        text-align: left;
      }
      .itemID::before { 
        content: "Category ID: ";
        font-weight: bold;
      }      
      .itemName::before { 
        content: "Category Name: ";
        font-weight: bold;
      }
      .itemTitle::before { 
        content: "Subcategory Title: ";
        font-weight: bold;
      }
      .itemURL::before { 
        content: "URL: ";
        font-weight: bold;
      }
      .fa-arrow-up{
        font-size: 14px;
      }                    
    }  
  }//end of main
}// end of #AdminPage




/* Desktop (>= 768px)
-------------------------------------------------- */
@media (min-width: 768px) {
  #AdminPage{
    .mobile-icon{
      display: none;
    }    
    .sidebar {
      position: absolute;    
      top: 60px;
      bottom: 0;
      left: 0;
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      background-color: #dadaea;
    }
    .dashboard-main {
      padding-right: 40px;
      padding-left: 40px;
    }
    form{
      width: 100%;
      padding-bottom: 25px;
    }
    .deleteBtn, .editBtn{
      width: 100px;
    } 
    .main{
      .dataViewTbl{
        thead{
          display: table-header-group;        
        }
        tr{
          border-bottom: 0px;
        }
        td{
          display: table-cell;
          text-align: left;
          border-top: 1px solid #ddd;
          width: auto;
          vertical-align: middle;
          span {
            padding-right: 7px;
            padding-left: 25px;
          }
        }
        td.function-row{
          width: 10%;
          padding: 4px;
        }
        button{
          width: 80px;
        }
        .title-row{
          border: none;
        }      
        .itemID::before { 
          content: "";
        }      
        .itemName::before { 
          content: "";
        }
        .itemTitle::before { 
          content: "";
        }
        .itemURL::before { 
          content: "";
        }                         
      }      
    }     
  }
}

/* Desktop (>= 992px)
-------------------------------------------------- */
@media (min-width: 992px) {
  #AdminPage{
    form{
      width: 60%;
    }
  }

}

/* Desktop (>= 1200px)
-------------------------------------------------- */
@media (min-width: 1200px) {}