//
// Dynamic Document Page
// www.hirokoymj.com/
// Mobile First Method.
// Created by HY.
// Last updated: 2018-08-20 
// --------------------------------------------------

/* Document Form component style */
.documentForm{
  background: #ededed;
  padding:25px 15px;

  .formError{
    color: #a94442;
    padding: 0 0 5px 15px;
  }
  .fieldErr{
    color: #a94442;
    padding-left: 5px;
  }
  .panel-title{
    font-weight: bold;
  }    
}

/* Document List component style */
.documentList{
  .linkTbl{
    width: 100%;
    font-size: 16px;
    tr{
      border-bottom: 1px solid #ccc;
      padding: 15px 0;
    }
    td{
      border: none;
      display: block;
      width: 100%;
      text-align: center;
      padding: 10px 0;
    }
    td.function-row{
      padding:  0 0 10px 0;       
    }
    button{
      width: 80%;
    }
    .title-row{
      text-align: left;
    } 
  }

}


/* Desktop (>= 768px)
-------------------------------------------------- */
@media (min-width: 768px) {
  .documentList{
    .linkTbl{
      tr{
        border-bottom: 0px;
      }
      td{
        display: table-cell;
        text-align: left;
        border-top: 1px solid #ddd;
        width: auto;
        vertical-align: middle;
        span {
          padding-right: 7px;
          padding-left: 25px;
        }
      }
      td.function-row{
        width: 10%;
        padding: 4px;
      }
      button{
        width: 80px;
      }
      .title-row{
        border: none;
      }      
    }
  }  
}





/* Desktop (>= 998px)
-------------------------------------------------- */
@media (min-width: 998px) {}

/* Desktop (>= 1200px)
-------------------------------------------------- */
@media (min-width: 1200px) {}