
//
// Dynamic Document Page
// www.hirokoymj.com/
// Mobile First Method.
// Created by HY.
// Last updated: 2018-08-20 
// --------------------------------------------------

.documentPage{
  .link-form{
    background: #ededed;
    padding:25px 15px;
  }
  .link-view{
    .link-table{
      width: 100%;
    }
    .link-list{
      span{
        padding-right: 7px;
        padding-left: 25px;
      }
    }
    .edit-link, .delete-link{
      text-align: center;
      width: 10%;
    }
    .section-title {
      background: #fff url(http://www.hirokoymj.com/images/dot.gif) no-repeat 0 0;
      width: 100%;
      height: auto;
      margin-bottom: 15px;
      margin-top: 15px;
      h3{
          padding: 5px 0 8px 25px;
          font-size: 18px;
          line-height: 22px;
          border-bottom: 1px solid #ccc;
      }
    }
    .table>tbody>tr>td{
      vertical-align: middle;
      padding: 4px;
    }
  }
  .panel-title{
    font-weight: bold;
  }
  .formError{
    color: #a94442;
    padding: 0 0 5px 15px;
  }
  .fieldErr{
    color: #a94442;
    padding-left: 5px;
  }         
}



/* Desktop (>= 768px)
-------------------------------------------------- */
@media (min-width: 768px) {}

/* Desktop (>= 998px)
-------------------------------------------------- */
@media (min-width: 998px) {}

/* Desktop (>= 1200px)
-------------------------------------------------- */
@media (min-width: 1200px) {}