//
// Home Page
// www.hirokoymj.com/
// Mobile First Method.
// Created by HY.
// Last updated: 2018-08-20 
// --------------------------------------------------

.fab, .fas, .far{
  font-size: 70px;
  //color: #a2d0ff;
}
.skill-icon{
  text-align: center;
  outline: 0;
  p{
    color: #fff;
    font-size: 14px;
    padding-top: 8px;
  }
}

/* Skill icons in slider */
.fa-npm{
  cursor: pointer;
  color: #a2d0ff;
}
.fa-js{
  cursor: pointer;
  color: #a2d0ff;
}
.fa-react{
  cursor: pointer;
  color: #a2d0ff;
}
.webpack {
  width: 60px;
  .inner-color{
    fill: #a2d0ff;
  }
  .outer-color{
    fill:#a2d0ff;
  }
}
// .webpack-icon{
//   width: 57px;
//   padding-top: 9px;
// }
.fa-database{
  cursor: pointer;
  color: #a2d0ff;
}
.bootstrap-icon{
  width: 60px;
}
.fa-html5{
  cursor: pointer;
  color: #a2d0ff;
}
.fa-css3-alt{
  cursor: pointer;
  color: #a2d0ff;
}
.fa-sass{
  cursor: pointer;
  color: #a2d0ff;
}
.fa-gulp{
  cursor: pointer;
  color: #a2d0ff;
}
.fa-grunt{
  cursor: pointer;
  color: #a2d0ff;
}
.fa-angular{
  cursor: pointer;
  color: #a2d0ff;
}
.fa-git-square{
  cursor: pointer;
  color: #a2d0ff;
}

/* The skill icons turn on with color when mouse-over */
.slick-slider{
  &:hover{
    .fa-html5{
      color: #ed511f;
    }
    .fa-npm{
      color: #cd3738;
    }
    .fa-js{
      color: #f5de19;
    }
    .fa-react{
      color: #00d8ff;
    }
    .webpack {
      .inner-color{
        fill: #1c78c0;
      }
      .outer-color{
        fill:#8ed6fb;
      }
    }
    .fa-database{
      color: #ffcc01;
    } 
    .bootstrap-icon{
      .bg{
        fill: #563D7C
      }
      .text{
        fill: #fff;
      }
    }
    .fa-css3-alt{
      color: #409ad6;
    }                       
    .fa-angular{
      color: #dd0031;
    }
    .fa-gulp{
      color: #eb4a4b;
    }
    .fa-grunt{
      color: #fba919;
    }
    .fa-sass{
      color: #cf649a;
    }
    .fa-git-square{
      color: #fff;
    }
  }
}

h2{
  background-color: #353c44;
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}
.zero-padding{
  padding-left: 0;
  padding-right: 0;
}
.fa-angle-left, .fa-angle-right{
  font-size: 30px;
  color: #ededed;
}

/* Customized Slick Slider 
-------------------------------------------------- */
.slick-slider{
  //background: green;
  padding-top: 35px;
  padding-bottom: 60px;
  background-color: #353c44; 
  border-bottom: 6px solid #a2d0ff; 
}
.slick-prev:before, .slick-next:before {
  display: none;
}
.slick-prev, .slick-next {
  top: 44%;
  width: 30px;
  height: 50px;
}
.slick-prev {
  left: 10px;
}
.slick-next {
	right: 0;
}
.slick-dots {
  bottom: 14px;
}
.slick-dots li.slick-active button:before{
    color: #fff;
}
.slick-dots li button:before{
    font-size: 12px;
}    
.section-title {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: left;
 
  h3{
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      line-height: 22px;
      text-align: left;
      border-bottom: 1px solid #ccc;
  }
}

/* Desktop (>= 768px)
-------------------------------------------------- */
@media (min-width: 768px) {
  .section-title {
    h3{
        font-size: 24px;
        line-height: 24px;
    }
  }
  .homeBio{
    padding-bottom: 25px;
    p{
      padding: 0 15px 10px 15px;
    }
    ul{
      li{
        padding-bottom: 7px;
      }
    }
  }
}

/* Desktop (>= 998px)
-------------------------------------------------- */
@media (min-width: 998px) {}

/* Desktop (>= 1200px)
-------------------------------------------------- */
@media (min-width: 1200px) {}