.fab, .fas, .far{
  font-size: 70px;
  //color: #a2d0ff;
}
.skill-icon{
  text-align: center;
  p{
    color: #fff;
    font-size: 14px;
    padding-top: 8px;
  }
}


.fa-html5{
  cursor: pointer;
  color: #a2d0ff;
  &:hover{
    color: #ed511f;
  }
}
.fa-css3-alt{
  cursor: pointer;
  color: #a2d0ff;
  &:hover{
    color: #409ad6;
  }
}
.fa-js{
  cursor: pointer;
  color: #a2d0ff;
  &:hover{
    color: #f5de19;
  }
}
.fa-npm{
  cursor: pointer;
  color: #a2d0ff;
  &:hover{
    color: #cd3738;
  }
}
.fa-angular{
  cursor: pointer;
  color: #a2d0ff;
  &:hover{
    color: #dd0031;
  }
}
.fa-gulp{
  cursor: pointer;
  color: #a2d0ff;
  &:hover{
    color: #eb4a4b;
  }
}
.fa-grunt{
  cursor: pointer;
  color: #a2d0ff;
  &:hover{
    color: #fba919;
  }
}
.fa-sass{
  cursor: pointer;
  color: #a2d0ff;
  &:hover{
    color: #cf649a;
  }
}
.fa-git-square{
  cursor: pointer;
  color: #a2d0ff;
  &:hover{
    color: #fff;
  }
}
.fa-react{
  cursor: pointer;
  color: #a2d0ff;
  &:hover{
    color: #00d8ff;
  }
}
.fa-database{
  cursor: pointer;
  color: #a2d0ff;
  &:hover{
    color: #ffcc01;
  }
}
.webpack-icon{
  width: 57px;
  padding-top: 9px;
}


.webpack {
  width: 60px;
  .inner-color{
    fill: #a2d0ff;
  }
  .outer-color{
    fill:#a2d0ff;
  }
  &:hover{
    .inner-color{
      fill: #1c78c0;
    }
    .outer-color{
      fill:#8ed6fb;
    }
  }
}

.bootstrap-icon{
  width: 60px;
  &:hover{
    .bg{
      fill: #563D7C
    }
    .text{
      fill: #fff;
    }
  }
}

h2{
  background-color: #353c44;
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.zero-padding{
  padding-left: 0;
  padding-right: 0;
}
.fa-angle-left, .fa-angle-right{
  font-size: 30px;
  color: #ededed;
}

/* Slick Slider
-------------------------------------------------- */
.slick-slider{
  //background: green;
  padding-top: 35px;
  padding-bottom: 60px;
  background-color: #353c44; 
  border-bottom: 4px solid #a2d0ff; 
}
.slick-prev:before, .slick-next:before {
  display: none;
}
.slick-prev, .slick-next {
  top: 44%;
  width: 30px;
  height: 50px;
}
.slick-prev {
  left: 10px;
}

.slick-dots {
  bottom: 14px;
}
.slick-dots li.slick-active button:before{
    color: #fff;
}
.slick-dots li button:before{
    font-size: 12px;
}    