body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}



.slick-slide img {
	margin: 0 auto;
}
.slick-prev:before, .slick-next:before {
	color: #000;
}
.slick-prev {
	left: 0;
	z-index: 9999;
}
.slick-next {
	right: 0;
}




/* Desktop (>= 992px)
-------------------------------------------------- */
@media (min-width: 992px) {}

/* Desktop (>= 1200px)
-------------------------------------------------- */
@media (min-width: 1200px){}



