/* Colors 
-------------------------------------------------- */
$brand-primary: #a2d0ff !default;
$brand-secondary: #77BAFF !default;

$white: #fff;
$black: #000;

//## Gray
$gray-dark: #333333; //footer-bg
$gray-dark-lighter:	#757575; //footer-text

//## Text
$text-color: #333 !default;

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: #000;
  margin-bottom: 10px;
}
