// --------------------------------------------------
// Colors
// --------------------------------------------------
//## Brand color
$brand-primary:       #a2d0ff !default;
$brand-secondary:     #a8e063 !default;
//$brand-third:         darken($brand-primary, 25%) !default;
$light-primary-color: #9FE080;
$dark-primary-color: #3D8D17;

$white: #fff;
$black: #000;

//## Gray
$gray-dark: 		#333333; //footer-bg
$gray-dark-lighter:	#757575; //footer-text
$gray-light:		#d8d8d8; //well-border
$gray-lighter: 		#f2f2f2; //well-bg

$gray:              #333333;
$gray-xtra-light: darken($white, 10%) !default;



//== Body, Text, Link, Body
$body-bg:               #fff !default;
$text-color:            #333 !default;
$link-color:            $brand-primary !default;
$link-hover-color:      darken($link-color, 15%) !default;