//
// hirokoymj.com - FOOTER
// Mobile First Method.
// Created by HY.
// Updated: 2018-08-29 

//START: Sticky footer
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 105px; //A margin for Sticky footer. 
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  background-color: #fff;
  line-height: 18px
}

.site-footer {
	//START: Sticky footer
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 105px;/* Set the fixed height of the footer here */
	//END: Sticky footer
	background-color: #121416;

  /* ==============
      Copyright
    =============== */
	.footer-bottom{
		border-top: 1px solid $gray-dark-lighter;
	}

	.copyright{
		font-size: .9em;
		font-family: 'Open Sans', sans-serif;
		text-align:center;
		color:#757575;
		padding: 12px 0;

	}
	.current-year{
		padding: 0 5px;
	}

  /* ==============
    footer Icons
  =============== */
	.icon-email{
		float: left;
		color: $gray-dark-lighter;
		&:hover{
			color: $brand-primary;
		}
		.fa-lg{
			font-size: 1.7em;
		}
		.fa-envelope{
			color:#000;
		}
	}
	// Github Icon
	.icon-github{
		float: left;
		color: $gray-dark-lighter;
		margin-right: 5px;

		&:hover{
			color: $brand-primary;
		}
		.fa-github{
			font-size: 3.2em;
		}
	}
	.footer-icons{
		text-align: center;
		.icons-container{
			display: inline-block;
		}
	}
}


/* Desktop (>= 768px)
-------------------------------------------------- */
@media (min-width: 768px) {
  body {
    margin-bottom: 80px;
  }  

  .site-footer{
		/* ==============
      Sticky footer
    =============== */
		height: 80px;

		.copyright{
      text-align: left;
      padding-top: 30px;
		}
		.footer-logo{
			text-align: left;
		}
		.footer-icons{
			text-align: right;
			.icons-container{
        display: inline-block;
        padding-top: 15px;
			}
		}
	}
}

/* Desktop (>= 992px)
-------------------------------------------------- */
@media screen and (min-width: 992px) {}



